body {
    margin: 0;
    background-color: rgb(97, 96, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
	background-color: black;
	width: 100%;
    height: 10vh;
    display: flex;
    padding: 15px;
}

.header h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
	height: 100%;
    align-items: center;
	align-self: flex-start;
	margin-right: auto;	
}

.reddito {
	background: url('../images/css_sprites.png') no-repeat -111px -10px;
	width: 83px;
	height: 77px;
}

.os {
	background: url('../images/css_sprites.png') no-repeat -10px -10px;
	width: 81px;
	height: 80px;
}

.shige{
    width: 56px; 
    height: 50px;
    background: url('../images/css_sprites.png') no-repeat -214px -10px;
    z-index: 1;
}

.whitecat {
	background: url('../images/css_sprites.png') no-repeat -10px -110px;
	width: 57px;
	height: 51px;
}

.ppy {
	background: url('../images/css_sprites.png') no-repeat -87px -110px;
	width: 56px;
	height: 51px;
}

.logo img {
    display: flex;
    height: 100%;
    width: auto;
    
}

.osupage li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.osupage {
    position: relative;
    display: flex;
	height: 100%;
    align-items: center;
    padding: 10px;
}

.osupage div{
    margin-right: 15px;
}

a {
    color: lightslategray;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

.nav {
    position: sticky;
    z-index: 2;
    top: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    width: 100%
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

.nav li a:hover {
    color: goldenrod;
}

article {
    margin: 5vh;
    background-color: rgb(44, 44, 44);
    border: 2px dotted gold;
    padding: 2vh;
    color: gray;
}

.dot {
    z-index: 1;
    top: 46.25vh;
    left: 1.35vw;
    position: absolute;
    height: 5.3vh;
    width: 2.7vw;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    opacity: 0.75;
    text-align: center;
    transition-duration: 1000ms;
    border: 10px;
  }

.dot h3 {
    margin: auto;
}

.dot:focus {
    transform: translate(50vw) scale(2);
    transition-duration: 1000ms;
}

.dot2 {
    z-index: 1;
    top: 75.25vh;
    left: 31.35vw;
    position: absolute;
    height: 10.6vh;
    width: 5.4vw;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    opacity: 0.75;
    text-align: center;
    transition-duration: 1000ms;
    font-size: 32px;
    border:20px;
  }

.dot2 h3 {
    margin: auto;
}

.dot2:focus {
    transform: scale(0.5) translateX(-62.75vw) translateY(-63.5vh);
    transition-duration: 1000ms;
}

.dot3 {
    z-index: 1;
    top: 25.25vh;
    left: 61.35vw;
    position: absolute;
    height: 10.6vh;
    width: 5.4vw;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    opacity: 0.75;
    text-align: center;
    transition-duration: 1000ms;
    font-size: 32px;
    border:20px;
  }

.dot3 h3 {
    margin: auto;
}

.dot3:focus {
    transform: scale(0.5) translateX(-122.75vw) translateY(36.5vh);
    transition-duration: 1000ms;
}

.dot4 {
    z-index: 1;
    top: 85.25vh;
    left: 71.35vw;
    position: absolute;
    height: 10.6vh;
    width: 5.4vw;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    opacity: 0.75;
    text-align: center;
    transition-duration: 1000ms;
    font-size: 32px;
    border:20px;
  }

.dot4 h3 {
    margin: auto;
}

.dot4:focus {
    transform: scale(0.5) translateX(-142.7vw) translateY(-83vh);
    transition-duration: 1000ms;
}

.img {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
    vertical-align: center;
}

.img img {
    width: 100%;
    margin: auto;
    padding: 0;
}

table {
    margin: 5vh;
    background-color: rgb(44, 44, 44);
    border: 2px dotted gold;
    padding: 2vh;
    color: gray;
}

th {
    background-color: rgb(44, 44, 44);
    border: 2px dotted black;
    padding: 2vh;
    color: gray;
}