body {
	margin: 0;
    background-color: rgb(97, 96, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: absolute;
	background-color: black;
	width: 100%;
    height: 10vh;
    display: flex;
    padding: 15px;
}

.header h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
	height: 100%;
    align-items: center;
	align-self: flex-start;
	margin-right: auto;	
}

.reddito {
	background: url('../images/css_sprites.png') no-repeat -111px -10px;
	width: 83px;
	height: 77px;
}

.os {
	background: url('../images/css_sprites.png') no-repeat -10px -10px;
	width: 81px;
	height: 80px;
}

.shige{
    width: 56px; 
    height: 50px;
    background: url('../images/css_sprites.png') no-repeat -214px -10px;
    z-index: 1;
}

.whitecat {
	background: url('../images/css_sprites.png') no-repeat -10px -110px;
	width: 57px;
	height: 51px;
}

.ppy {
	background: url('../images/css_sprites.png') no-repeat -87px -110px;
	width: 56px;
	height: 51px;
}

.logo img {
    display: flex;
    height: 100%;
    width: auto;
    
}

.osupage li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.osupage {
    position: relative;
    display: flex;
	height: 100%;
    align-items: center;
    padding: 10px;
}

.osupage div{
    margin-right: 15px;
}
/* end of header css */

a {
    color: lightslategray;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

h1, h3, h4 {
    color: goldenrod;
}

.container {
    padding-top: 10vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
	margin: auto;
    padding: 5px;
}

.lonks {
    padding-left: 3.5vw;
    padding-top: 20px;
    background-color: lightgray;
    display: flex;
    height: auto;
    width: 80%;
    margin: 0px 0px 0px 3vw;
    border: 3px solid gold;
    border-radius: 4px;
    background-color: rgb(44, 44, 44);
    color: gray;
}

.lonks h3 {
    color: goldenrod;
}

.para article {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 2vh;
    background-color: rgb(44, 44, 44);
    color: gray;
    border-left: 3px solid gold;
    border-radius: 4px;
    border-right: none;
}

.p3 {
    border-bottom: 3px solid gold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: 90%;
}

.lonks li a, .lonks2 li a{
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.lonks li a:hover, .lonks2 li a:hover {
    color: goldenrod;
    background-color: black;
}

.pic1 {
    display: flex;
    height: auto;
    width: auto;
    margin: auto; 
    border: 3px solid gold;
    border-top: none;
    border-radius: 4px;
}

.pic1 img {
    vertical-align: center;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.extra {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 50px 15px 50px 15px;
    padding: 5px;
}

.title2 {
    padding-left: 3.5vw;
    background-color: lightgray;
    display: flex;
    height: auto;
    width: 90%;
    margin: 20px 0px 0px 2vw; 
    border: 3px solid gold;
    border-radius: 4px;
    border-bottom: none;
    background-color: rgb(44, 44, 44);
    color: gray;
}

.lonks2 {
    padding-left: 3.5vw;
    background-color: lightgray;
    display: flex;
    height: auto;
    width: 90%;
    margin: 0px 0px 0px 2vw;
    border: 3px solid gold;
    border-radius: 4px;
    border-top: none;
    background-color: rgb(44, 44, 44);
    color: gray;
}

.lonks2 ul {
    list-style: none;
}

.title2 h3 {
   text-align: center;
   height: auto;
   width: 90%;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    vertical-align: middle;
    height: 30vh;
    width: auto;
    margin: auto; 
}

.p {
    padding: 15px;
}

.text {
    padding: 15px;
}
